| $('#video-preview-wrapper').css('width','100%');
| $('#video-preview-wrapper').height($(document).height());
| $('#video-preview').html("#{ j render :partial => "preview_movie" }");
| $('#video-preview-wrapper').css('display','block');

