| $("#itemContainer").append("#{j render :template => 'mokio/photos/photo', :locals => {photo: @photo} }");
| $("#gallery_content").append("#{j render template: 'mokio/photos/photo_modal', locals: {photo: @photo}}");
| var photoCount = parseInt($("#photoCount").text()) + 1;
| $('#photoCount').text(photoCount);
