= render :template => "mokio/dashboard/advanced/tbl_content", \
  locals: { collection: item[:collection], \
    item_columns: item[:columns], \
    item_actions: item[:actions], \
    more_link:backend_url_helper_generate_obj_index_url(item[:model])}
