.bundle/
log/*.log
pkg/
spec/dummy/config/database.yml
spec/dummy/log/
spec/dummy/log/*
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/solr
spec/dummy/public/uploads
spec/dummy/public/assets
spec/dummy/config/initializers/mokio.rb
spec/dummy/db/schema.rb
spec/dummy/db/migrate/*
spec/dummy/node_modules
Gemfile.lock
.ruby-version*
.ruby-gemset*
.gitignore~
*miniprofiler/mp_timers*
spec/dummy/tmp/*
coverage/*
coverage


/.idea/
/.metadata/
/.project
mokio*.gem
.swp
