

@import 'nice-select/style';

//global
$primary-color: #13a067;

//typo

h2,
#lead-editor p,
#content-editor p,
#content-editor ul,
#content-editor ol {
  font-family: 'magneta', serif;
}

h3 {
  font-family: 'Poppisns', sans-serif;
}

h2,h3 {
  font-weight: 600;
}

h2 {
  font-size: 38px;
  margin: 60px 0 30px;

  &:first-child {
    margin-top: 0;
  }
}

h3 {
  font-size: 20px;
  margin: 50px 0 25px;
}

a,button {
  transition: all 200ms ease-in;
}

.btn-outline {
  background-image: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%);
  display: inline-block;
  font-size: 12px;
  color: #555;
  padding: 8px 10px;
  border: 1px solid #ccc;

  &:hover {
    opacity: .85;
  }

  span {
    color: #555;

    &::before {
      margin-right: 5px;
    }
  }
}

.table thead th,
.table tbody td {
  text-align: left!important;

  br {
    display: inline-block;
    font-size: 13px;
    line-height: 8px;
    height: 8px;
    content: "A";
    width: 8px;
  }
  br:after {
    content: ', ';
    white-space: pre;
  }
}

.table thead th:last-child {
  text-align: center!important;
  width: 80px;
}
.table tbody td:last-child {
  text-align: center!important;
}
.table tbody {
  tr {
    td {
      transition: background 200ms ease-in;
    }
    &:hover {
      td {
        background: #109bff1a;
      }
    }
  }
}

.cke_show_borders {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.form-row .form-label {
  padding-top: 11px;
}

#content .form-row.row-fluid .row-fluid {
  margin-bottom: 10px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: #353535;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 18px;

  &:focus {
    outline: none;
  }
}

.select2-selection--single {
  border-radius:0 !important;
  height: 42px !important;
  font-size: 14px;
  padding: 7px 18px;
  border-color: #9d9d9d !important;
}

.select2-container {
  width:100%;
}

.select2-selection--multiple {
  border-radius:0 !important;
  border-color: #9d9d9d !important;
}
