- cache [:form, obj] do
  = f.input :name
  = f.input :shortname
  = f.input :active, :wrapper => :active_checkbox,:input_html => { :checked => true }, disabled: !obj.display_editable_field?('active')