!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Strony nie znaleziono
    / Mobile Specific Metas
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / Le styles
    = stylesheet_link_tag 'backend/errors'
    
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = javascript_include_tag 'html5'

  %body.errorPage
    .container-fluid
      .errorContainer
        .page-header
          %h1.center
            404
            %small error
        %h2.center The page cannot be found.
        .center
          %a.btn{href: "javascript: history.go(-1)", style: "margin-right:10px;"}
            %span.icon16.icomoon-icon-arrow-left-10>
            Go back
          %a.btn{href: "#{backend_root_path}"}
            %span.icon16.icomoon-icon-screen>
            Dashboard
    / End .container-fluid
    /
      Le javascript
      \==================================================
    = javascript_include_tag 'backend/errors'
    :javascript
      // document ready function
      $(document).ready(function() {
          //------------- Some fancy stuff in error pages -------------//
          $('.errorContainer').hide();
          $('.errorContainer').fadeIn(1000).animate({
              'top': "50%", 'margin-top': +($('.errorContainer').height()/-2-30)
              }, {duration: 750, queue: false}, function() {
              // Animation complete.
          });
      });