- path = request.original_fullpath

- if cookies[path].blank? || Mokio::SiteHelper.debug || Mokio.debug_all && Mokio.enable_site_helper
  - cookies[path] = { :value => path, expires: 1.year.from_now }

  %ol#joyRideTipContent
    - Mokio::SiteHelper.steps_for_url(path).each do |step, options|
      %li{ "data-class" => options["data-class"], "data-text" => t(options["data-text"]), "data-options" => options["data-options"] }
        %h2= t( options[:title] )
        %p=  t( options[:text]  )

- content_for :js do
  = javascript_include_tag "backend/help-engine/jquery.joyride-2.1"
  = javascript_include_tag "backend/help-engine/help-engine"