.row-fluid.string.optional.youtube_youtube_id
  %label.form-label.span2.yt_label= bt("search_movie_url", Mokio::Youtube)
  .span10
    %input#movie_url.string.optional{:type => 'text', :value => @yt}
    %input#content_id.string.optional{:type => 'hidden', :value => @content_id}
    %p.desc
      = bt('movie_url_desc', Mokio::Youtube)
    :javascript
      yt_search();
  -# %button.btn.btn-info.ytfind= btc('search')
  -# %button#clear-yt.btn.ytclear= btc('clear')