p = t("devise.mailer.hello")<<" #{@resource.email}"

p = t("devise.mailer.reset_password_first_paragraph")

= link_to t("backend.change_password"), edit_password_url(@resource, reset_password_token: @token)

p = t("devise.mailer.reset_password_second_paragraph")
p = t("devise.mailer.reset_password_third_paragraph")