.span12
  = render :partial => "mokio/backend/common/notice"
  .box
    = box_title do 
      = bt("new_title", @obj_class)
    = render :partial => "mokio/backend/common/form_content", locals: {obj: obj}
